* {
    margin: 0px;
    padding: 0px;

}
html {
    background: url(https://vignette.wikia.nocookie.net/shararam-smeshi/images/0/02/%D0%A1%D1%82%D0%B0%D0%BD%D0%B4%D0%B0%D1%80%D1%82%D0%BD%D1%8B%D0%B9_%D1%84%D0%BE%D0%BD_2.png/revision/latest?cb=20140403060802&path-prefix=ru)
repeat-y red left ;
}
body { 
    background-color: rgba(108, 88, 199, 0.438);

}

h1{
    background-color: blue;
}
.Style {
    background-color: brown;
}
p#Sterv:first-letter {
    color: blue;
}
p#Sterv:first-line {
    color: rgb(6, 236, 37);
}
.Href:hover {
    color: rgb(155, 16, 16);
}
.Href {
    color: blue;
}
p:active{
    background-color: rgb(21, 60, 180);
}
#TextStyles {
    font-size: 26px;
    font-weight: bold;
    font-family: fantasy;
    text-decoration: blink;
    text-align: center;
    text-indent: 1.1en;
    text-transform:capitalize;
    word-spacing: 10px;
    letter-spacing: 10px;
    line-height: 80px;
}
#Testblock {
    float: right;
    border: 2px double silver;
 
    width: 500px;
    background-color: royalblue;
    margin: 20px;
    padding: 10px;
    border-radius: 15px;
}
header{
    width: calc(100% - 20px);
    height: 30px;

    background-color: #fff;
    border-bottom: 2px solid silver;
    padding: 18px;
    float: left;
    font-size: 1.2en;
    color: #333;
    font-family:'Courier New', Courier, monospace;

}
footer {
    width: calc(100% - 20px);
    height: 30px;
    float: left;
    margin-top: 20px;
    background-color: #fff;
    border-bottom: 2px solid silver;
    padding: 18px;
    font-size: 1.2en;
    color: #333;
    font-family:'Courier New', Courier, monospace;
    float: left;
}
article, aside {
    background-color: seashell;
    height: 400px;
    float: left;
    border-radius: 5px;
    border: 1px solid  silver;
    box-sizing: border-box;
    margin-top: 20px;
    float: left;


}

article {
    padding: 10px;
    
    width: 60%;   
    margin-left: 5%;
    margin-right: 5%;

}
aside {
    width: 25%;

  

    

}